.background {
    z-index: 0;
    width: 100%;
}

/*body {*/
/*    background-color: #68AEDC;*/
/*}*/


.panel-warning .panel-heading {
    height:20%;
}

.panel-body h3{
    margin-top:0;

}

.panel-body img {
    width: 100%;
    height:70%;
    position: static;
    opacity: 1;
    margin: 0 0 0 0;
}

.panel-body iframe {
    width: 100%;
    height: 320px;
}


.row {
    width: 90%;
    position: relative;
    margin-left: 5%;
    /*margin-right: 10px;*/
}
.col-sm-4 {
    position: relative;
    margin-top: 10%;
}

.col-sm-6 {
    position: relative;
    margin-top: 10%;
}

body img {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -20px 0 0 0;
    opacity: .65;
}