body {
  padding-top: 50px;
}
.starter-template {
  min-width:100%;
  padding: 40px 0px;
  text-align: center;
}

.starter-template h2 {
    font-size: 100px;
    text-align: center;
    color:black;
}