body {
  padding-top: 50px;
}
.starter-template {
  width: 100%;
  padding: 40px 0px;
  text-align: center;
}

.title-wrapper {
    min-width:100%;
}

.starter-template h2 {
    font-size: 20px;
    text-align: center;
    color:black;
}

.starter-template h3 {
    font-size: 100px;
    text-align: center;
    color:black;
}

.starter-template img {
    width:30%;
}

