{% extends "HTML_BEGIN.html" %}
{% block head %}
<link href="../../static/CSS/about.css" rel="stylesheet">
{% endblock%}

{% block body %}

<div class = "about-container">

    <div class="rows">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Twistory</h2>
          <p class="lead">Twistory allows you to explore different National Parks and their hikes in a timely manner.<br>
          <p>The development team consists of Nick DeChant, Terrence Maas, Bryan Salas, Young Seo, Wu-Yang Tao and Boomer Truong.<br></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ5mz6klxdpcx92J0mRvSZ4EOphWCCPqp13c7uiX-okaNgD3oPWOA" align="middle" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/t31.0-8/10505131_10152753579616055_1060721929465000854_o.jpg" align="middle">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Group Responsibilities:</h2>
          <p class="lead"><p><b><br>Nick DeChant:</b></p>
            <p>Phase 2 Project Leader</p>
            <p>Explored and developed Django website configurations and unit tests.<br>
            Additionally setup the database and implemented it with the website.<br>
            Applied other team''s API to the Hungry page and wrote techincal documentation.
            </p>
            <p><b><br>Terrence Maas:</b></p>
            <p>Phase 1 Project Leader</p>
            <p>Developed django models.<br>
            Managed website configuration and debugged django.<br>
            Designed web pages and coordinated front-end and back-end interaction.
            </p>

            <p><b><br>Bryan Salas:</b></p>
            <p>Wrote views for the search functionality. Developed the early stage django templates. <br>
            Cleaned up the backend functions to maximize clarity and efficiency.</p>

            <p><b><br>Young Seo:</b></p>
            <p>Phase 3 Project Leader</p>
            <p>Created django models and unit tests for those models.<br>
            Created django templates and worked on the front-end of the website (HTML/CSS).<br>
            Wrote technical documentation. </p>

            <p><b><br>Wu-Yang Tao:</b></p>
            <p>Developed the API blueprint and implemented the API.<br>
            Additionally wrote unit tests for the API.<br>
            Investigated how to use the other group's API.</p>

            <p><b><br>Boomer Troung:</b></p>
            <p>Researched and worked on the API and worked on how to implement a<br>
            search engine and write unit tests for it.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tools utilized: </h2>
          <ul>
            <li><a href="https://www.djangoproject.com/">Django</a></li>
            <li><a href="http://www.pythonanywhere.com/">PythonAnywhere</a></li>
            <li><a href="http://www.django-rest-framework.org/">Django Rest Framework</a></li>
            <li><a href="http://haystacksearch.org/">Haystack</a></li>
            <li><a href="http://getbootstrap.com/2.3.2/">Bootstrap</a></li>
            <li><a href="http://apiary.io/">Apiary</a></li>
            <li><a href="https://bitbucket.org/mchaput/whoosh/wiki/Home">Whoosh</a></li>
         </ul>
       </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQdY-TOd8x87k636tqH77zf3FAtssfA4EbcQssLA5qMfd95QJ84" alt="Generic placeholder image">
        </div>
      </div>
    </div>


</div>

{% endblock %}