{% extends "HTML_BEGIN.html" %}
{% block head %}
<link href="../../static/CSS/homepage.css" rel="stylesheet">
{% endblock%}

{% block body %}
    <div class="homepage">
        <h1>Twistory</h1>
        <div class="about-para">
            <p>Twistory allows you to explore different National Parks and their hikes.<br><br></p>
            <p>The development team consists of Nick DeChant, Terrence Maas, Bryan Salas, Young Seo, Wu-Yang Tao and Boomer Truong.</p>
        </div>
    </div>

{% endblock %}