{{HTML_BEGIN|safe}}

    {% load static %}

    <div class="starter-template">
        <h1>Cluster:{{Name}}</h1>
        <p>{{Description}}</p>
        <h1>Trends</h1>
        <p>{{Trend1}}</p>
        <img src = "{% get_static_prefix %}{{ Trend1Pic }}" />
        <p>{{Trend2}}</p>
        <img src = "{% get_static_prefix %}{{ Trend2Pic }}" />
        <h1>Related Handles</h1>
        {{RHandles|safe}}
        <h1>Related Hashtags</h1>
        {{RHashtags|safe}}
        <h1>Related Clusters</h1>
        {{RClusters|safe}}
    </div>

{{HTML_END|safe}}