{% extends "HTML_BEGIN.html" %}
{% block head %}
<link href="../../static/CSS/singles.css" rel="stylesheet">
{% endblock %}
{% load static %}
{% block body %}

    <div class="homepage">
        <div class = "singles">
            <h1>{{name}}</h1>
            <img src = "{{ hike_image }}" />
            <h2>Distance: {{distance}} miles</h2>
            <h2>Estimated time: {{est_time}} minutes</h2>
            <h2>Difficulty: {{difficulty}}</h2>
            {{park|safe}}
        </div>
    </div>


{% endblock %}