<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgxmC6KjfHNZnuQ8zwIOji2ENSRv2W7NWo7Wu6Mcuw7XoBdwkglw">


    <title>Twistory</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-responsive.min.css">

    <!-- Custom styles for this template -->
    <link href="../../static/CSS/starter-template.css" rel="stylesheet">
    <link href="../../static/CSS/carousel.css" rel="stylesheet">

  </head>

  <body>


    <div class="navbar-wrapper">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Twistory</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/states">States</a></li>
                <li><a href="/parks">Parks</a></li>
                <li><a href="/hikes">Hikes</a></li>
              </ul>
            </div><!--nav-collapse -->
          </div>
        </div>
    </div>



    <div class="footer">
      <div class="container text-center">
        <p class="text-muted">All of the information can be found on <a href="http://www.nps.gov">www.nps.gov</a></p>
      </div>
    </div>

