{% extends "HTML_BEGIN.html" %}
{% block head %}
<link href="../../static/CSS/lists.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="homepage">
   <p class = "lead"><p><b><br>FEEL LIKE HAVING SOME FOOD BEFORE GOING FOR THE TRIP?</b></p>
    <p class = "lead"><p><b><br>CLICK ON THE NAME OF FOOD TO SEE HOW TO COOK IT.</b></p>
    <p class = "lead"><p><b><br>THEN CLICK OUTSIDE THE BOX TO LEAVE THE INSTRUCTION.</b></p>
    <div class="container">
    {{HTML|safe}}
    </div>
</div>
{% endblock %}
