{{HTML_BEGIN|safe}}

    {% load static %}

    <div class="starter-template">
        <div class = "singles">
            <h1>{{name}}</h1>
            <img src = "{{ park_image }}" />
            <h2>Size: {{size}} acres</h2>
            <h2>Max Elevation: {{max_elevation}}</h2>
            <h2>Date Founded: {{date_founded}}</h2>
            <h2>Number of Visitors: {{num_visitors}} per year</h2>
            {{state|safe}}
            <div class="video-wrapper">
                <center>
                    <div class="video-container">
                        <iframe width="640" height="360" src="//{{video}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                    </div>
                </center>
            </div>
            {{HtmlHikes|safe}}
        </div>
    </div>


{{HTML_END|safe}}